body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.btnC {
    text-align: center;
    margin: 20px auto;
}

.form_filter {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    max-width: 400px;
}

.form_filter label {
    display: block;
    margin-bottom: 10px;
}

.form_filter select,
.form_filter input[type="radio"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form_filter button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
}

.table_f {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table_f, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

/* Style the "Delete" button */
.supp {
    display: inline-block;
    background-color: #ff0000; /* Red background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
}

/* Style the "Update" button */
.update {
    display: inline-block;
    background-color: #002aff; /* Blue background */
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 10px;
}
