/* Add these styles to your 'index.css' file */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.index-page {
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 20px;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.add-button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-size: large;
  color: #d8e5ee;
}

a:hover {
  text-decoration: underline;
}

div {
  margin: auto;
}

/* Style the filter form as a compact row */
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #3498db;
  border-radius: 6px;
  width: 70%;
}

/* Style the filter columns as a grid */
.filter-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin: 5px;
}

/* Style the filter labels */
form label {
  width: 120px;
  text-align: right;
  padding-right: 10px;
}

/* Style the filter inputs */
form input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the filter submit button */
form input[type="submit"] {
  margin: 4px;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the filter date input */
form input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 4px;
  width: 200px; /* Use 'width' instead of 'max-width' */
}

form input[type="submit"] {
  height: 35px;
  width: 150px;
  margin: 5px;
  background-color: #3498db;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;/* Push the button to the right */
}
#reset {
  height: 35px;
  width: 150px;
  margin: 5px;
  background-color: #df446d;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 200px; /* Push the button to the right */
}